<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{{ title }} | mdw</title>
    <meta name="description" content="Portland LaunchCode LC101">
    <meta name="author" content="mdw">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

</head>
<body>

<div class="container">

{% if 'username' in session %}
<a href="/">Blogz</a>
<a href="/blog">Main Blog Page</a>
<a href="/newpost">Add Blog Entry</a>
{% else %}
<a href="/">Blogz</a>
<a href="/blog">Main Blog Page</a>
{% endif %}


<div class="align_right">
    {% if 'username' in session %}
    {{ session['username'] }}
    {% else %}
    <a href="/login">Login</a> |<a href="/signup">Signup</a>
    {% endif %}
</div>

{% block content %}
{% endblock %}

{% if 'username' in session %}
<form action="/logout" method="post" id="logout">
    <input class="large_button" type="submit" value="Log out">
</form>
{% endif %}

</div>

<footer class="small">&copy; 2012 (2017) mple | mdw. Proudly developed in Portland.</footer>

</body>
</html>