{% extends "base.html" %}

{% block content %}

<h1>Blogz Posts</h1>

{% if posts|length == 0 %}

<p>No posts, yet...</p>
<p>Become a contributor today, <a href="/signup">Signup here</a></p>
{% else %}

    {% for post in posts %}
    <h2><a href="/blog?id={{ post.id }}">{{ post.title }}</a></h2>
    <p class="preserve_whitespace">{{ post.body }}</p>
    <p class="small">Contributor: <a href="/blog?user={{ post.owner.id }}">{{ post.owner.username }}</a></p>
    <p class="small">{{ post.created }}</p>
    <hr>

    {% endfor %}
{% endif %}

<!-- TODO: pagination throughout - add a block content tag on the base.html to look for this data input -->

{% endblock %}