{% extends "base.html" %}

{% block content %}

<h1>{{ user.username }}</h1>

{% if user_posts|length == 0 %}

<p>No posts, yet...</p>
{% else %}

    {% for post in user_posts|sort(attribute='created', reverse=True) %}
    <h2><a href="/blog?id={{ post.id }}">{{ post.title }}</a></h2>
    <p class="preserve_whitespace">{{ post.body }}</p>
    <p class="small">Contributor: <a href="/blog?user={{ post.owner.id }}">{{ post.owner.username }}</a></p>
    <p class="small">{{ post.created }}</p>
    <hr>

    {% endfor %}
{% endif %}

{% endblock %}